  <div class="about-header">
  <h2 class="header">
      About Wade's Junior League
  </h2>
  </div>
  <div class="aboutus">
    <img src="images/gp_wade.jpg" alt="">
    
    <h3>Grandfather Coach Wade</h3>
    <p>Grandfather George Wade began playing basketball when he was in grade school. He has always tried to teach himself the fundamentals of ball handling by going and reading publish books at the library. As he taught himself the basics, his parents began to support him in every choice he makes. Wade was always looking for ways to bring his friends and neighborhood together to play a quick game. He has played for his school and went on to college, to continue his education. Basketball was what made him happy and this is how he decided to give back to his community once he was able to.</p>
  </div>
  </div>