<div class="about-header">
  <h2 class="header">
      The Class Designed for your Child!
  </h2>
  </div>
  <div class="class1">
      <img src="images/young players.jpeg" alt = "">
    <h3>Ages 6-8</h3>
      <p>We have designed a special program for your child where they learn the fundamentals of basketball. Our focus is that they will complete our summer camp learning the basic movements of basketball and play games to have fun with one another. Our age 6-8 camp will start from June 13th and complete July 25th. If you would like to learn more about our instructor <a class="" href="/coaches">Kevin, click here</a> or <a class="" href="/register">Click here</a> to sign up with Kevin!</p>
    </div>
    
    <br><br><br><br><br>

    <div class="class2">
      <img src="images/bball team.jpg" alt = "">
    <h3>Ages 9-11</h3>
      <p>Our program for ages 9 to 11 is focused more on game movements and challenges. Our coach, Samuel will be training the youth as well as teaching how to execute plays and win games. There will be condition training and games at the end of each week. Our camp for ages 9-11 will begin June 13th and finish July 25th. Our plan is to teach your child and prepare them for their success! If you would like to learn more about our instructor <a class="" href="/coaches">Sam, click here</a> or <a class="" href="/register">Click here</a> to sign up with Sam!</p>
    </div>
    <br><br><br><br><br><br><br>
  </div>