<div class="about-header">
  <h2 class="header">
      Meet Our Instructors!
  </h2>
  </div>
  <div class="coachtxt">
      <img src="images/coach2.jpg" alt = "">
    <h3>Coach Kevin</h3>
      <p>Coach Kevin specializes in teaching the up and coming generation to learn how to dribble balls and to have fun as well. Kevin has children himself and love to play basketball. His passion is to give younger children the impression that playing sports should be for fun and not because you have to.</p>
  </div>
    
    <br><br><br><br><br><br><br>

  <div class="coachtxt">
    <img src="images/soccerman.jpg" alt = "">
    <h3>Coach Samuel</h3>
      <p>Samuel is an outgoing young man. He has graduated from university in 2015 as a Physical Ed. Teacher and plans to coach youth basketball for as long as he can! He is joining us this summer to teach the youth ages (9-11) how to play organized games. Samuel will go in depth to running plays and the fundamentals to shooting and learning plays.</p>
  </div>
    <br><br><br><br><br><br><br>