<div class="opener">
  <h1>Welcome!</h1>
  <p> If it is your first time on our site, click <a href="/about">here</a> to learn more about us!</p>
  <p> If you want to register your child for camp, register<a href="/register"> here! </a></p>
  <p>Our instructors train your child how to be their best at playing basketball. WE appreciate your time and hope to see you this summer!</p>
  <img src="images/bballcourt.jpg" alt="">
</div>

