
<div class="moredesign2">
  <img src="images/location.jpg" alt="">
  <h1>Our camp location varies!</h1>
  <p>Based on the age differences, our location will depend on how many future starz we will be training. Please fill out our <a href="/register"> registration</a><a></a> form! Our coaches will reach out to you with important information to and answers to your questions.</p>
  
</div>
