<div class="moredesign">
  <img src="images/register.jpg" alt="">
</div>
<div class="class1">
  <h1>Register your child for Camp!</h1>
  <p>Please fill out the form below:</p>
  <form class="subscription-form" action="/subscribe" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="phoneNumber" placeholder="Phone" pattern="[0-9]{10}">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="childAge" placeholder="Child Age">
    <input type="submit" name="submit">
  </form>
</div>
